.button {
    justify-self: center;
    align-self: center;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    height:40px;
    margin-block: 1em;
    border:none;
    transition: all 100ms ease;
    font-size: 16px;
}
.button:hover,
.button:focus {
    background-color: var(--primary-color);
    color: var(--secondary-font);
}


.addButton {
    background-color: var(--primary-color);
    border:none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-font);
    height: 60px;
    width: 60px;
    font-size: 30px;
    margin-right:20px;
    align-self: end;

}

.backButton {
    align-self: center;
    margin-bottom: 100px;
    width: 130px;
}

.back{
    margin-bottom: 100px;
}

@media (min-width: 400px) {
    .addButton {
        height: 45px;
        width: 45px;
        font-size: 18px;
        
        }
    .button {
        align-self: baseline;
        grid-column: 3;
    }

    .back{
        align-self: flex-end;
        margin-right: 30px;
    }
}

@media (min-width: 800px) {
    .addButton {
        position: fixed;
        bottom: 2%;
        right: 15%;
    }
}