.table {
    overflow-x: auto;
    font-size: 12px;
    margin: 20px;
    box-shadow: 0 0 5px grey;
    border-radius: 5px;
    display: block;
}
.cell {
    border: 0.5px dotted grey;
    font-size: 20px;
    cursor: pointer;
}
.cell:hover,
.cell:focus{
    background-color: var(--highlight-color)
}

@media (min-width: 400px){

.table {
    align-self:center;
    margin: 20px 0px 100px;
    width:100%;
}
.head {
    font-size:22px;
    border-bottom: 0.5px solid black ;
    text-align: center;
}

}
